body {
    background: rgb(147, 145, 145);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
}

header {
    height: 100px;
    background: rgb(134, 3, 130);
}

header h1 {
    font-size: 35px;
    color: #fff;
    padding: 25px;
}

.content {
  max-width: 400px;
  border: 1px solid rgb(55, 55, 57);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.headerCad {
  height: 80px;
  background: rgb(3, 80, 112);
  /*Flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerCad h1 {
  color: #fff;
  font-size: 25px;
}

.form-group, .form-button {
  margin: 10px;
}

.form-group label {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  display: block;
}
 
.form-group input[type="text"] {
  border: 2px solid rgb(198, 196, 196);
  width: 95%;
  height: 25px;
  outline: none;
  padding-left: 5px;
}

.form-button button {
  background: rgb(3, 80, 112);
  color: #fff;
  padding: 10px;
  border: 0;
  cursor: pointer;
}