body {
    background: rgb(147, 145, 145);
}

.container {
    width: 100%;
    max-width: 1000px;
    border: 1px solid;
    margin: 0 auto;
}

header {
    height: 100px;
    background: rgb(134, 3, 130);
}

header h1 {
    font-size: 35px;
    color: #fff;
    padding: 25px;
}